@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: rgb(104, 105, 96); /* Set background color */
  --overlay-color: rgba(0, 0, 0, 0.5); /* Dark overlay */
  --text-color: white; /* Text color */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--bg-color);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fix-height {
  min-height: calc(100vh - 150px);
}

.overflow-height {
  height: calc(100vh - 150px);
}
